/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
  margin: 0;
}
 header {
  height: 10%;
  min-height: 5vh;
  display: flex;
  justify-content: space-between;
  padding-left: 0px;
  padding-right: 0px;
  align-items: center;
  background-color: royalblue;
 }

 body {
  min-height: 100vh;
  margin: 0%;
  font-family: 'Open Sans', sans-serif;
 }

 .body-container {
  width: 800px;
  margin: auto;
  text-align: center;
  min-height: 80vh;
  background-color: white;
  padding: 10px;
 }

 header h1{
   margin: 10px;
 }

 header a{
  text-decoration: none;
  color: black;
 }

 header a:visited
 {
  text-decoration: none;
  color: black;
 }

 .search-form {
  padding: 10px;
  background-color: lightgrey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
 }

 .passenger-form {
  width: 80%;
}

.passenger-field {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-between;
}


 .passenger-field input{
  width: 40%;
 }


